* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    background-color: rgb(8, 24, 41);
    text-align: center;
    color: #fff;
    padding: 10px;
}

h2 {
    text-align: center;
    color: rgb(8, 24, 41);
    font-size: 60px;
    /* background-color: aquamarine; */
    margin-top: 25px;
}

.row {
    display: flex;
    margin-top: 45px;
    gap: 70px;
    transition: 0.3s ease-in-out;
    position: relative;
    justify-content: center;
}

.col-1 img {
    border-radius: 50%;
    object-fit: cover;
}

.col-1 img:hover {
    cursor: pointer;
    border: 4px solid black;
}

.col {
    text-align: center;
    font-size: 30px;
    color: rgb(8, 24, 41);
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 50px;
}

#user-score,
#comp-score {
    font-size: 80px;
    padding-top: 20px;
}

.score {
    text-align: center;
    /* background-color: blue; */
    padding-top: 30px;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 30px;
}

#msg {
    margin-top: 20px;
    width: 30%;
    font-size: 30px;
    background-color: rgb(8, 24, 41);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
